.desk-top {
  display: flex;
  flex-direction: column;
  height: 1080px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.desk-top .header {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 44px;
  background-color: #041e3a;
}

.desk-top .brand {
  position: absolute;
  width: 246px;
  height: 39px;
  top: 0;
  left: -5px;
}

.desk-top .brand-LOGO {
  position: absolute;
  height: 15px;
  top: 15px;
  left: 43px;
  font-family: "Indie Flower", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 15px;
  white-space: nowrap;
}

.desk-top .sale {
  position: absolute;
  width: 752px;
  height: 34px;
  top: 5px;
  left: 576px;
}

.desk-top .overlap-group {
  position: relative;
  width: 400px;
  height: 16px;
  top: 7px;
  left: 170px;
}

.desk-top .text-wrapper {
  position: absolute;
  width: 341px;
  height: 15px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
}

.desk-top .link {
  position: absolute;
  width: 77px;
  height: 14px;
  top: 2px;
  left: 323px;
}

.desk-top .shop-now {
  position: absolute;
  width: 86px;
  height: 15px;
  top: -1px;
  left: -13px;
  font-family: "Instrument Serif", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
}

.desk-top .find-location {
  position: absolute;
  width: 120px;
  height: 34px;
  top: 4px;
  left: 1800px;
}

.desk-top .icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 14px;
}

.desk-top .find-a-store {
  position: absolute;
  height: 15px;
  top: 9px;
  left: 32px;
  font-family: "Inria Serif", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
  white-space: nowrap;
}

.desk-top .main-section {
  position: relative;
  width: 1920px;
  height: 890px;
}

.desk-top .article {
  position: relative;
  height: 890px;
  top: 1px;
}

.desk-top .div {
  position: absolute;
  width: 1920px;
  height: 747px;
  top: 0;
  left: 0;
}

.desk-top .picture {
  position: absolute;
  width: 1920px;
  height: 747px;
  top: 0;
  left: 0;
  background-image: url(./img/picture.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desk-top .link-2 {
  position: absolute;
  width: 31px;
  height: 20px;
  top: 464px;
  left: 704px;
}

.desk-top .text-wrapper-2 {
  position: absolute;
  width: 31px;
  height: 14px;
  top: -3px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.2px;
  text-align: center;
  letter-spacing: 0.56px;
  line-height: 10.2px;
}

.desk-top .horizontal-divider {
  position: absolute;
  width: 31px;
  height: 1px;
  top: 19px;
  left: 0;
  background-color: #ffffff;
}

.desk-top .link-3 {
  position: absolute;
  width: 31px;
  height: 20px;
  top: 464px;
  left: 832px;
}

.desk-top .link-4 {
  position: absolute;
  width: 53px;
  height: 20px;
  top: 463px;
  left: 956px;
}

.desk-top .text-wrapper-3 {
  position: absolute;
  width: 60px;
  height: 14px;
  top: -2px;
  left: -3px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.2px;
  text-align: center;
  letter-spacing: 0.56px;
  line-height: 10.2px;
}

.desk-top .horizontal-divider-2 {
  position: absolute;
  width: 53px;
  height: 1px;
  top: 19px;
  left: 0;
  background-color: #ffffff;
}

.desk-top .link-5 {
  position: absolute;
  width: 31px;
  height: 20px;
  top: 463px;
  left: 1080px;
}

.desk-top .link-6 {
  position: absolute;
  width: 31px;
  height: 20px;
  top: 463px;
  left: 1185px;
}

.desk-top .NEW-STYLES-ADDED {
  position: absolute;
  width: 593px;
  height: 54px;
  top: 318px;
  left: 667px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17.3px;
  text-align: center;
  letter-spacing: 1.32px;
  line-height: 31.7px;
}

.desk-top .spring-season-sale {
  position: absolute;
  width: 586px;
  height: 119px;
  top: 146px;
  left: 667px;
  font-family: "Italianno", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 90px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
}

.desk-top .border {
  position: absolute;
  width: 1920px;
  height: 89px;
  top: 800px;
  left: 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d1d1d1;
}

.desk-top .list {
  position: relative;
  height: 37px;
  top: 26px;
}

.desk-top .item-button {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15px;
  left: 858px;
}

.desk-top .img {
  left: 904px;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15px;
}

.desk-top .item-button-2 {
  left: 949px;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15px;
}

.desk-top .div-wrapper {
  left: 994px;
  background-color: #4b5e96;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15px;
}

.desk-top .text-wrapper-4 {
  position: absolute;
  width: 12px;
  height: 15px;
  top: 3px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 15px;
  white-space: nowrap;
}

.desk-top .item-button-3 {
  left: 1040px;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 15px;
}
